.searchbar
{
    display: block;
    margin: 1.7em auto 0em auto;
    width: 34.5em;
    height: 0.8em;
    border-radius: 25px;
    border: 1px solid #dfe1e5;
    padding: 1em;
    background-color: white;
}

.searchbar:hover
{
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
    border-color: rgba(223,225,229,0);
}

.text-input
{
    display: block;
    margin: -0.9em auto 0em auto;
    width: 32em;
    border-radius: 25px;
    border: none;
    padding: 0.6em;
    background-color: white;
    outline: none;
    font-family: "Open Sans", Arial;
    font-size: 16px;
}

.under-searchbar-button
{
    margin-top: 30px;
    height: 35px;
    width: 135px;
    border-radius: 4px;
    border: none;
    background-color: #f8f9fa;
}

.under-searchbar-button:hover
{
    cursor: pointer;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124; 
}

#homepage-navbar a
{
    font-family: "Open Sans", Arial;
    font-size: 13px;
    text-decoration: none;
    color: black;
}

#homepage-navbar #link-to-gmail
{
    position: absolute;
    top: 23px;
    right: 240px;
}

#homepage-navbar #link-to-gmail:hover
{
    text-decoration: underline;
}

#homepage-navbar #link-to-google-images
{
    position: absolute;
    top: 23px;
    right: 185px;
}

#homepage-navbar #link-to-google-images:hover
{
    text-decoration: underline;
}

#homepage-navbar a #homepage-google-apps-image
{
    opacity: 0.5;
    height: 1.8em;
    position: absolute;
    right: 135px;
    top: 18px;
}

#homepage-navbar a #homepage-sign-in-button
{
    position: absolute;
    top: 10px;
    right: 20px;
    background-color: #2b7de9;
    color: white;
    font-family: "Open Sans", Arial;
    font-size: 14px;
    height: 35px;
    width: 95px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

#homepage-navbar a #homepage-sign-in-button:hover
{
    opacity: 0.9;
    box-shadow: 0 1px 2px 0 rgba(66,133,244,0.3),0 1px 3px 1px rgba(66,133,244,0.15);
}

#homepage-logo
{
    display: block;
    margin: 16em auto 0em auto;
}
