.searchbar
{
    display: block;
    margin: 1.7em auto 0em auto;
    width: 34.5em;
    height: 0.8em;
    border-radius: 25px;
    border: 1px solid #dfe1e5;
    padding: 1em;
    background-color: white;
}

.searchbar:hover
{
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
    border-color: rgba(223,225,229,0);
}

.text-input
{
    display: block;
    margin: -0.9em auto 0em auto;
    width: 32em;
    border-radius: 25px;
    border: none;
    padding: 0.6em;
    background-color: white;
    outline: none;
    font-family: "Open Sans", Arial;
    font-size: 16px;
}

#homepage-navbar a
{
    font-family: "Open Sans", Arial;
    font-size: 13px;
    text-decoration: none;
    color: black;
}

#homepage-navbar #link-to-gmail
{
    position: absolute;
    top: 23px;
    right: 175px;
}

#homepage-navbar #link-to-gmail:hover
{
    text-decoration: underline;
}

#homepage-navbar #link-to-google-images
{
    position: absolute;
    top: 23px;
    right: 120px;
}

#homepage-navbar #link-to-google-images:hover
{
    text-decoration: underline;
}


#homepage-navbar a #homepage-google-apps-image
{
    opacity: 0.5;
    height: 1.5em;
    position: absolute;
    right: 70px;
    top: 20px;
}

#homepage-navbar a #homepage-google-account-image
{
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: 14px;
}

#homepage-logo
{
    display: block;
    margin: 16em auto 0em auto;
}